@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;700;800&family=Inter:wght@300;400;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    border:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 7px;
}
html::-webkit-scrollbar-track{
    background:rgb(167, 193, 229);
}
html::-webkit-scrollbar-thumb{
    background-color: #0C1536;
    border-radius: 20px;
    border:1px solid rgb(167, 193, 229);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "blinker";
   overflow-x: hidden;
   background-image: url("./assets/images/textured-bg.svg");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.backToTop{
    width: 40px;
    height: 40px;
    background-color: #0c1536;
    border-radius: 50%;
    border:1px solid rgb(167, 193, 229);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 2.5%;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.backToTop.show{
    display: block;
}
.backToTop > span {
    display: flex;
    align-items: center;
    color:white;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

@media screen and (max-width:468px){
    .backToTop{
        width: 80px;
        height: 80px;
    }
    .backToTop > span {
        font-size: 2.5rem;
    }
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 3rem;
    position:sticky;
    top: 0;
    bottom: 0;
    transition: 0.3s ease;
    /* z-index: 1; */ 
}
.sticky{
    background:white;
    color:black;
    box-shadow: 0px 15px 10px -15px #111;
    z-index: 1;
    transition:0.2s ease;
}
.logo-container > a > img{
    width: 121.5px;
    height: 60px;
}
.navbar > ul{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding:0.5rem;
}
.navbar > ul > li{
    list-style: none;
    margin:0rem 0.4rem;
    padding:0px 5px;
}
.navbar > ul > li > a{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
    font-style: normal;
    color: #000000;
}
.navbar > ul > li > a:hover{
    color:#0C1536;
}
.app-btnWapper{
    width: 177px;
    height: 48px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background: #0c1536
}
.button-slanted {
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
}
.button-slanted:hover{
    cursor:pointer;
}
.button-slanted-content {
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    display: inline-block;
    -moz-transform: skewX(15deg);
    -o-transform: skewX(15deg);
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    text-align: left;
}
#app-btn{
    width: 177px;
    height: 48px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background: #0c1536; 
}
#app-btn >span{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
#get-in-touch-btn{
    background:transparent;
    border:1px solid #ffffff;
    color:#ffffff;
}
@media only screen and (min-width: 468px) and (max-width:768px){
    .logo-container > a > img{
        width: 100px;
        height: 50px;
    }
    li{
        margin:0px 5px;
        padding:0px 5px;
    }
    li > a{
        font-size: 16px;
        line-height: 1.5rem;
    }
    #app-btn{
        border:1px solid blue;
        width: 130px;
        height: 40px;   
    }
    #app-btn >span{
        font-size: 16px;
        line-height: 30px;
    }
}
@media only screen and (max-width:468px){
    .logo-container > a > img {
        width: 100px;
        height: 50px;
    }
    .navbar{
        width: 598px;
        padding: 0px 1rem;
    }
    .navbar > ul > li > a{
        font-size: 20px;
    }
    #app-btn{
        padding:0px 14px;
    }
}

/* landing page */
.landing-section{
    display: flex;
    background-image: url(./assets/images/trackter-landing.svg);
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    margin-right: -94px;
    /* z-index:0; */
}
.left-landing-container{
    width: 823.4px;
    height: 622.6px;
    display: flex;
    flex-direction: column;
    padding-left: 3.5rem;
    background-image: url("./assets/images/blue-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.top-social-container{
    width: 120px;
    margin-top: 7rem;
}
.landingWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
.landingWrapper > .textWrapper > h1{
    font-size: 5rem;
    font-weight: bold;
    line-height: 1rem;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    font-family: "blinker";
}
.landingWrapper> .textWrapper > p{
    font-family: "blinker";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-family: "blinker";
}
.btnWrapper{
    display: flex;
    align-items: center;
    gap:1rem;
    width: 100%;
    margin-top: 3.5rem;
}
.btnWrapper > button{
    width: 192.9px;
    height: 48.1px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background: #dde7f5  ;
    font-size: 18px;
    font-weight: 400;
    color: #000000;       
}
.right-landing-container{
    height: 654px;
}
.imgWrapper{
    position: absolute;
    width: 776px;
    height: 653.6px;
    background-image: url("./assets/images/trackter-landing.svg");
    background-repeat: no-repeat;
}

@media only screen and (max-width:468px){
    .landing-section{
        width: 598px;
        background-position: center;
    }
    .left-landing-container{
        padding: 2px 3rem;
    }
    .landingWrapper{
        margin-top: 0rem;
    }
}

/* About-section Styles */
.about-section{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:2rem;
}
.aboutLeft-side{
    width: 100%;
    padding: 5rem;
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:2rem;
}
.projetsWrapper,.trucksNumWrapper{
    width: 208px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.projetsWrapper > h1, .trucksNumWrapper > h1{
    font-family: "blinker";
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #0c1536;
}
.projetsWrapper > p , .trucksNumWrapper > p{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.aboutRight-side{
    width: 100%;
    height: 100%;
    line-height: 1rem;
}
.aboutRight-side >h3{
    font-family: "blinker";
    font-size: 40px;
    font-weight: bold;
    /* line-height: 48px; */
    font-style: normal;
    text-align: left;
    color: #0c1536;
}
.aboutRight-side >p{
    font-family: "blinker";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    color: #000000
}
.aboutRight-side >button{
    width: 176px;
    height: 48px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background: #0c1536;
    color:white;
}

@media only screen and (max-width:468px){
    .about-section{
        flex-direction: column;
        width:598px;
        padding: 5px 32px;
    }
    .aboutLeft-side{
        order:2;
    }
    .aboutRight-side{
        order:1;
    }
    .aboutRight-side >p{
        /* padding: 5px 32px; */
        font-size: 24px;
        text-align: justify;
    }
    .aboutRight-side >h3{
        font-size: 2.5rem;
        line-height: 10px;
        text-align: center;
    }
    .aboutLeft-side{
        padding: 0rem;
        flex-direction:row;
        gap:2rem;
    }
}

/* Solution Tailored Styles Start */
.soltn-tailored-container{
    background-image: url(./assets/images/st-light-bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 853.8px;
    position: relative;
    margin: 5rem 0rem 20rem 0rem;
}
.soltn-inner-container{
    background-image: url(./assets/images/st-dark-bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 853.8px;
    position: absolute;
    top: 8%;
}
.soltn-top-container{
    color:white;
    line-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left: 4rem;
}
.soltn-top-container >h2{
    font-family: "blinker";
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.solt-desc-wrapper{
    width: 400px;
    border-left: 4px solid white;
}
.solt-desc-wrapper >p{
    width: 380px;
    height: 81px;
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 20px;
}
.soltn-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 65%;
    width: 100%;
}
.soltn-bottom-container > .solt-arrow-btns{
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}
.img-wrapper{
    position: relative;
}
.img-wrapper > .img-overlay-text{
    width: 284px;
    height: 21px;
    font-family: "blinker";
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8%;
    z-index: 1;
    left: 15%;
    color: white;
    text-align: center;
}
.soltn-bottom-container > .images-container{
    display: flex;
    padding-left: 4rem;
    overflow: hidden;
    flex-wrap: wrap;
}
.images-container{
    cursor: grab;
}

@media only screen and (max-width:468px){
    .soltn-tailored-container{
        width:598px;
        height: 853.8px;
        margin: 1rem 0rem 5rem 0rem;
    }
    .solt-desc-wrapper >p{
        font-size: 20px;
        text-align: justify;
        margin-left: 20px;
    }
    .soltn-bottom-container{
        top: 72%;
        width: 100%;
    }
    .glide__slide{
        width:400px;
    }
}

/* Solution Tailored Styles End */

/* Testimonials Styles */
.testimonials-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:2rem;
}
.testimonialWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.testimonial-desc-container{
    padding:1rem;
}
.test-desc-wrapper{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.test-desc-wrapper > #testi-desc{
    width: 515px;
    height: 110px;
    font-family: "blinker";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    color: #000000
}
.test-left-wrapper{
    height: 100%;
    line-height: 72px;
    padding-left: 5rem;
}
.test-left-wrapper>h2{
    font-family: "blinker";
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
    font-style: normal;
    text-align: left;
    color: #0c1536;
}
.test-left-wrapper>p{
    font-family: "blinker";
    width: 50%;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    line-height: 32px;
    margin-top: -35px;
    font-style: normal;
    text-align: justify;
    color: #000000;
}
.test-right-wrapper{
    height: 100%;
}
.test-right-wrapper > p{
    font-family: "blinker";
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    font-style: normal;
    text-align: left;
    color: #000000;
}
.authorWrapper{
 line-height: 8px;
 display: flex;
 flex-direction: column;
 margin-top: 2rem;

}
.authorWrapper > h3{
    font-family: "blinker";
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #000000;
}
.authorWrapper > span{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #000000;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20rem;
}
.btn-container>button{
    width: 149px;
    height: 48px;
    border-color: #0c1536;
    border-width: 1px;
    border-style: solid;
    background: #dde7f5;
    font-size: 18px;
    font-weight: 400;
}
.arrow-btns-wrapper{
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap:1rem;
    padding-right: 5rem;
}
.arrow-btns-wrapper > button {
    width: 75.7px;
    height: 48px;
    border-color: #095068;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background: #dde7f5;
}
@media only screen and (max-width:468px){
    .testimonials-container{
        width:598px;
        flex-direction: column;
        justify-content:space-between;
        gap:2rem;
        margin-top:18rem;
        padding: 5px 32px;
    }
    .test-left-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0rem;
    }
    .test-left-wrapper>p{
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        /* margin-top: -35px; */
        text-align: justify;
        /* padding:2px 4rem; */
    }
    .btn-container{
        justify-content: space-between;
        gap: 14rem
    }
    .arrow-btns-wrapper{
        padding-right: 20px;
    }
    .btn-container>button{
        font-size:24px;
    }
}

/* Story Styles Start */
.story-container{
    height: 654px;
    background-image: url(./assets/images/story-bg-img.svg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right;   
    margin-top: 10rem;
}
.video-container{
    width: 50%;
    height: 100vh;
    position:relative;
    top: 0;
    left: 50%;
    transform: translate(-40%, -100%);
    z-index:10000;
    background:rgba(0,0,0,0,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-40%, -100%);
    -moz-transform: translate(-40%, -100%);
    -ms-transform: translate(-40%, -100%);
    -o-transform: translate(-40%, -100%);
}
.active{
    visibility: visible;
    opacity: 1;
}
.video-container > .Video{
    width: 100%;
    height: 100%;
    outline:none;
    object-fit: cover;
    z-index: 99999;
}
.close{
    font-size:2rem;
    position: absolute;
    top: 0;
    right: 1%;
    color:white;
    z-index: 200000;
}
.close:hover{
    cursor: pointer;
    color:red;
}
.story-left-container{
    background-image: url(./assets/images/story-blue-bg.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    height: 654px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leftWrapper{
  width:30%;
  padding-left: 3rem;
  padding-top: 3rem;
  color: #ffffff;
  margin-top: 35%;
}
.leftWrapper > h2{
    width: 288px;
    height: 40px;
    font-family: "blinker";
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
    font-style: normal;
}
.leftWrapper > p{
    width: 389px;
    height: 102px;
    font-family: "blinker";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
    font-style: normal;
}
.story-left-bottom-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    margin-top: 3rem;
}
.thumbVideo-Wrapper{
    width: 85px;
    height: 85px;
}
.thumbVideo-Wrapper > .thum-video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border:2px solid #ffffff;
    background: #ffffff;
    border-radius: 50%;
}
.story-left-bottom-wrapper > #playVideo-btn{
    width: 88px;
    font-family: "blinker";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    background: transparent;
}
.story-left-bottom-wrapper > #playVideo-btn:hover{
    cursor: pointer;
    color:#dde7f5;
}
@media only screen and (max-width:468px){
    .story-container{ 
        width:598px;
        padding: 5px 32px;
        margin-top:50%;
    }
    .story-left-container{
        opacity: 0.8;
        height: 560px;
        margin-top: 45px;
        border-radius: 20px;
        background: #0c1536;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    .leftWrapper{
        width: 100%;
        padding: 2rem;
        margin-top: 50%;
    }
    .leftWrapper >p{
        font-size: 24px;
        width: 100%;
    }
    .story-left-bottom-wrapper > #playVideo-btn{
        width: 150px;
        font-size: 28px;
    }
    .video-container{
        width: 570px;
        left: 38%;
        top: -4%;
    }
}

/* Story Styles End */

/* Follow Us styles */
.follow-us-container{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin-top: 2rem;
}
.follow-us-container > .top-container{
    text-align: center;
    line-height: 0;
    margin-top: 7rem;
    margin-bottom: 1rem;
}
.follow-us-container > .top-container > div > img{
    width: 41px;
    height: 41px;    
}
.follow-us-container > .top-container > div  > h2{
    font-family: "blinker";
    font-size: 3.5rem;
    font-weight: bold;
    font-style: normal;
    color: #0c1536;   
}
.follow-us-container > .top-container > div  > p{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    text-align: center;
    color: #000000;
}
.follow-us-container > .bottom-container{
    display: flex;
    align-items:center;
    justify-content:center;
}

@media only screen and (max-width: 768px){
    .follow-us-container > .bottom-container{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:468px){
    .follow-us-container{
        width:598px;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        padding: 5px 32px;
    }
    .top-container{
        margin-top: 0rem;
    }
    .follow-us-container > .top-container > div  > h2{
        font-size:3rem;
    }
    .follow-us-container > .top-container > div  > p{
        padding: 5px 2rem;
        font-size: 24px;
        text-align: justify;
    }
}

/* Contact Us Styles Start */
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 12rem;
    column-gap:1rem;
}
.contact-leftWrapper{
    background: #dde7f5;
}
.contact-leftWrapper, .contact-rightWrapper{
    padding:3rem;
    line-height: 0;
    display: flex;
    flex-direction: column;
}
.contact-leftWrapper > h2, .contact-rightWrapper>h2{
    font-family: "blinker";
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #0c1536;
}
.contact-leftWrapper > p , .contact-rightWrapper > p{
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    text-align: left;
    width: 60%;
    color: #000000;
}
.contact-leftWrapper > button, .contact-rightWrapper>button{
    width: 177px;
    height: 48px;
    border-color: #0c1536;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    font-weight: 400;
    color: #0c1536 
}

@media only screen and (max-width:468px){
    .contact-container{
        width: 598px;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }
    .contact-leftWrapper > p , .contact-rightWrapper > p{
        width: 100%;
        font-size: 24px;
        text-align: justify;
    }
    .contact-leftWrapper > button > span, .contact-rightWrapper>button > span{
        font-size: 24px;
    }
}

/* Contact Us Styles End */

/* Footer Styles Start */
.footer-container{
    width: 100%;
    height: 610px;
    background: #0c1536;
    position: relative;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}
.footer-container > #triangle{
   position: absolute;
   top: -9.4%;  
   left: 46.7%;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.footer-leftWrapper{
  padding-left:3rem;
}
.footer-leftWrapper>h3{
    font-family: "blinker";
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.footer-leftWrapper>h3 > #essential{
    color:#dde7f5;
}
.social-links-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:150px;
}
.social-links-container:hover{
 cursor: pointer;
}
.footer-rightWrapper{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.footer-rightWrapper > .list-container > ul > li{
    list-style: none;
    padding-right: 5rem;
}
.footer-rightWrapper > .list-container > ul > li > a{
    text-decoration: none;
    font-family: "blinker";
    font-size: 18px;
    font-weight: 400;
    line-height: 52px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.horizontal-line{
    background: #dde7f5;
    height: 1px;
    margin:0rem 3rem;
    margin-top: 3rem;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 3rem;
   margin-bottom:-10rem;
}

@media only screen and (min-width:468px){
    .footer-leftWrapper{
        width: 50%;
    }
    .footer-rightWrapper{
        width: 60%;
    }
}
@media only screen and (max-width:468px){
    .footer-container{
        width: 598px;
        margin-top: 6rem;
    }
    .footer-top{
        flex-direction: column;
    }
    .footer-container > #triangle{ 
        left: 42%;
     }
    .footer-leftWrapper{
        width:598px;
        padding: 2px 3rem
    }
    .footer-leftWrapper>h3{
        font-size: 36px;
    }
    .footer-rightWrapper{
        width:598px;
        padding:2px 3rem;
    }
    .footer-bottom{
        width: 598px;
    }
    .footer-bottom{
        font-size: 20px;
        padding:0rem 3rem;
        margin-bottom:0rem;
    }
    .footer-rightWrapper > .list-container > ul > li{
        padding-right: 0rem;
    }
    .footer-rightWrapper > .list-container > ul > li > a{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .footer-rightWrapper > .list-container{
        margin-right: -20px;
    }
    .social-links-container > img{
        height: 22px;
    }
    .horizontal-line{
        margin-top: 0rem;
        margin-bottom: -40px;
    }
}
/* Footer Styles End */